@model List<Tag>

<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title mb-0">Tags</h5>
    </div>
    <div class="card-body">
        <ul class="list-inline d-flex flex-wrap gap-2">
            @foreach (var tag in Model)
            {
                <li class="list-inline-item">
                    <a href="/posts/tag/@tag.Url" class="btn btn-outline-secondary btn-sm">@tag.Text</a> @* Ana sayfadaki sağ tarafta gösterilen Tag'lerden birine tıklanıldığında Tag'in Url değişkeni ile birlikte "posts/tag/tag" Örneğin:"/posts/tag/web-programlama" adresine yönlendirilir. Posts/Index actionu tetiklenir. *@ 
                </li>
            }
        </ul>
    </div>
</div>
